//Keyframes for Animations

// Slide down animation
@mixin slidedown {
  from {
    @include transform(translateY(-65px));
  }
  to {
    @include transform(translateY(0px));
  }
}
@-webkit-keyframes slidedown { @include slidedown; }
   @-moz-keyframes slidedown { @include slidedown; }
        @keyframes slidedown { @include slidedown; }


// Slide Up Animation
@mixin slideup {
  from {
    @include transform(translateY(250px));
  }
  to {
    @include transform(translateY(0));
  }
}
@-webkit-keyframes slideup { @include slideup; }
   @-moz-keyframes slideup { @include slideup; }
        @keyframes slideup { @include slideup; }


// Fade In animation
@mixin fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein { @include fadein; }
   @-moz-keyframes fadein { @include fadein; }
        @keyframes fadein { @include fadein; }


// Loading Animation for Twitter Plugin
@mixin loading {
  0% {
    opacity: 0;
    text-shadow: 0 0 3px hsla(100%, 100%, 100%, 0.2);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 3px hsla(100%, 100%, 100%, 0.6);
  }
  100% {
    opacity: 0;
    text-shadow: 0 0 3px hsla(100%, 100%, 100%, 0.2);
  }
}
@-webkit-keyframes loading { @include loading; }
   @-moz-keyframes loading { @include loading; }
        @keyframes loading { @include loading; }


// Bling Animation for Twitter Button
@mixin bling {
  0% {
    opacity: 0;
    text-shadow: 0 0 3px hsla(100%, 100%, 100%, 0.0);
  }
  50% {
    opacity: 1;
    color: white;
    text-shadow: 0 0 3px hsla(100%, 100%, 100%, 0.7);
  }
  100% {
    text-shadow: none;
  }
}
@-webkit-keyframes bling { @include bling; }
   @-moz-keyframes bling { @include bling; }
        @keyframes bling { @include bling; }

