//************************************************************************//
// Assitional Sass Variables, Mixins, Directives
//************************************************************************//

$column: 100px;       // Column Width
$gutter: 40px;        // Gutter Width

@function grid-width($n) {
  @return $n * $column + ($n - 1) * $gutter;
}

$title-font: "proxima-nova-1","proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font: "museo-slab-1","museo-slab-2", Georgia, Palatino, "Palatino Linotype", Times, serif;

@-webkit-keyframes slideup {
  from {
    -webkit-transform: translateY(250px);
  }
  to {
    -webkit-transform: translateY(0px);
  }
}
@-webkit-keyframes over {
  from {
    -webkit-transform: translateX(250px);
  }
  to {
    -webkit-transform: translateX(0px);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes loading {
  0% {
    opacity: 0;
    text-shadow: 0 0 3px hsla(100%, 100%, 100%, 0.2);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 3px hsla(100%, 100%, 100%, 0.6);
  }
  100% {
    opacity: 0;
    text-shadow: 0 0 3px hsla(100%, 100%, 100%, 0.2);
  }
}
@-webkit-keyframes bling {
  0% {
    opacity: 0;
    text-shadow: 0 0 3px hsla(100%, 100%, 100%, 0.0);
  }
  50% {
    opacity: 1;
    color: white;
    text-shadow: 0 0 3px hsla(100%, 100%, 100%, 0.6);
  }
  100% {
    opacity: 1;
    text-shadow: none;
  }
}
