//---------------------------------------------------
//  Global Styles
//---------------------------------------------------

body, html {
  background: #262626;
}

div.wrapper {
  @extend .clearfix;
  width: 800px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  font-weight: 100;
}
a, a:link, a:active, a:visited {
  color: $link;
  text-decoration: none;
}
a:hover {
  color: $hover;
  @include transition;
  text-shadow: 1px 1px 0 hsla(0%, 0%, 0%, 0.75);
}
::selection {
  background: #D5E255;
}
::-moz-selection {
  background: #D5E255;
}


.fadein {
  @include animation-name(fadein);
  @include animation-duration(3.0s);
  @include animation-timing-function(ease-in);
  @include animation-fill-mode(both);
}
//---------------------------------------------------
//  Website Structure and style
//---------------------------------------------------

body {
  @extend .clearfix;
  color: $primary;
  font-family: $body-font;
  margin: 0 auto;
  margin-bottom: 40px;
  text-rendering: optimizeLegibility;

  header {
    @extend .clearfix;
    background: #202020;
    margin-bottom: 50px;
    padding-top: 4px;
    @include animation-name(slidedown);
    @include animation-duration(0.8s);
    @include animation-timing-function(ease-out);
    @include animation-delay(5s);
    @include animation-fill-mode(both);

    h2#tagline {
      font-family: $body-font;
      color: #333;
      float: left;
      font-weight: 300;
      font-size: 15px;
      margin: 10px $gutter 10px 0;
      position: relative;
      text-transform: uppercase;
      top: 6px;
      width: grid-width(4);
    }

    section#social-media {
      float: left;
      width: grid-width(2);

      > ul {
        float: right;
        margin: 8px 0 6px 0;
        padding: 0;

        > li {
          @include inline-block;
          margin: 0 6px;

          &:last-child {
            margin-right: 0;
          }

          > div {
            @include border-radius(32px);
            display: inline-block;
            float: left;
            @include transition($timing-function: linear);
            width: auto;

            &:hover {
              background: $link;
              @include box-shadow(inset 0 0 0 4px #404040, 0 0 0 3px lighten(#333, 5%));
            }

            > a {
              background-repeat: no-repeat;
              height: 32px;
              @include inline-block;
              text-indent: -9999px;
              width: 32px;

              &:hover {
                @include border-radius(32px);
                @include box-shadow(inset 0 0 0 1px #404040, 0 0 0 3px lighten(#333, 5%));
                @include transition(box-shadow, 0s, ease-in);
              }
            }
          }

          &#twitter {
            > div:hover {
              background: #42d0ff;
            }
            a {
              background-image: url("/images/social-icons.png");
              background-position: 0 0;
            }
          }
          &#dribbble {
            > div:hover {
              background: #ea4c88;
            }
            a {
              background-image: url("/images/social-icons.png");
              background-position: -33px 0;
            }
          }
          &#github {
            > div:hover {
              background: #efefef;
            }
            a {
              background-image: url("/images/social-icons.png");
              background-position: -66px 0;
            }
          }
          &#tumblr {
            > div:hover {
              background: #2291ac;
            }
            a {
              background-image: url("/images/social-icons.png");
              background-position: -99px 0;
            }
          }
        }
      }
    }
  }

  div.main-content {
    @extend .clearfix;
    color: $primary;
    font-family: $body-font;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    width: 800px;

    section#headline {
      margin: 20px 0 50px;
      width: 100%;

      > h1 {
        font-size: 36px;
        font-weight: 300;
        letter-spacing: -1px;
        margin: 0;
        -webkit-font-smoothing: antialiased;
        @extend .fadein;
        @include animation-duration(1.0s);
      }
    }

    section#recent-work {
      @extend .clearfix;
      background-image: url('/images/oval-highlight.png');
      background-position: 50% 100%;
      background-repeat: no-repeat;
      padding-bottom: 55px;
      width: 100%;

      article#one, article#two, article#three {
        $article-bg: #333;
        background: $article-bg;
        border: 10px solid $article-bg;
        @include box-shadow(0 1px 3px 0 hsla(0%, 0%, 0%, 0.45));
        float: left;
        height: 165px;
        width: 220px;
        z-index: 0;
        @include animation-name(slideup, fadein);
        @include animation-timing-function(ease-in-out, ease-out);
        @include animation-duration(1.0s, 1.2s);
        @include animation-fill-mode(both);

        > img {
          margin: 0;
        }
      }

      article#one {
        @include animation-delay(0.5s);

      }
      article#two {
        @include animation-delay(0.75s);
      }
      article#three {
        @include animation-delay(1.0s);
      }

      article#two {
        margin: 0 $gutter;
      }
    }
    section#recent-work + div.wrapper {
      @include box-shadow(inset 0 1px 0 #373737, 0 -1px 0 #191919);
      background: #262626;
      position: relative;
      padding-top: 30px;
      min-height: 300px;
      z-index: 10;
    }

    aside#open-source-projects {
      float: left;
      margin-right: $gutter;
      width: grid-width(2);
      @extend .fadein;
      @include animation-delay(1.5s);

      > h2 {
        font-size: 24px;
      }

      > ul {
        padding: 0;

        > li {
          font-size: 16px;
          list-style-type: none;
          margin: 15px 0;
          -webkit-font-smoothing: antialiased;
          font-weight: 700;

          a {
            color: $link-alt;

            &:hover {
              color: $hover-alt;
            }
          }

        }
      }
    }

    section#twitter-stream {
      float: left;
      width: grid-width(4);
      min-height: 200px;
      @extend .fadein;
      @include animation-delay(1.5s);

      > h2 {
        font-size: 24px;
      }

      div.tweet {
        min-height: 200px;

        p.loading {
          color: #ccc;
          @include transition;
          @include animation-name(loading);
          @include animation-duration(3.0s);
          @include animation-timing-function(ease-in-out);
          @include animation-iteration-count(infinite);
        }

        ul.tweet_list {
          margin: 0;
          padding: 0;

          > li {
            -webkit-font-smoothing: antialiased;
            font-size: 14px;
            line-height: 150%;
            list-style-type: none;
            margin: $gutter/2 0;

            span.tweet_time {
              display: block;
              font-size: 11px;

              a {
                color: $link-alt;
                &:hover {
                  background: hsla(100%, 100%, 100%, 0.05);
                  @include border-radius(3px);
                  @include box-shadow(0 0 0 3px hsla(100%, 100%, 100%, 0.05));
                  color: $hover-alt;
                  text-shadow: none;
                }
              }
            }
          }
        }
      }
      div#twitter-follow {
        -webkit-font-smoothing: antialiased;
        font-size: 16px;
        padding: 4px 0 4px 42px;
        background-image: url('/images/social-icons.png');
        background-repeat: no-repeat;
        background-position: -132px 0;

        a {
          color: $link-alt;
          @include transition;
          @extend .fadein;
          @include animation-name(bling);
          @include animation-delay(3.5s);

          &:hover {
            color: $hover-alt;
            -webkit-text-fill-color: $hover-alt;
          }
        }
      }
    }
    footer {
      float: left;
      width: grid-width(2);
      margin-right: $gutter;
      position: relative;
      bottom: 29px;
      z-index: 20;
      @extend .fadein;
      @include animation-delay(6.0s);
      @include animation-duration(1.0s);

      > p {
        font-size: 11px;
        color: darken($link-alt, 20%);

        a {
          color: darken($link-alt, 20%);

          &:hover {
            background: hsla(100%, 100%, 100%, 0.05);
            @include border-radius(3px);
            @include box-shadow(0 0 0 3px hsla(100%, 100%, 100%, 0.05));
            color: darken($hover-alt, 20%);
            text-shadow: none;
          }
        }
      }
    }
  }
}
