//************************************************************************//
// Base Variables
//************************************************************************//

$base-border-color:   #000;

$base-font-family:     $helvetica;

$fase-font-size:      13px;
$fase-font-size-alt:  11px;

$base-font-color:     #333;
$base-font-color-alt: #888;

$base-link-color:     hsl(14, 97%, 55%); // orange
$base-link-color-alt: #666;


// Grid-width function
// $gw-column: 100px;       // Column Width
// $gw-gutter: 40px;        // Gutter Width

$width: 750px;
$padding: 75px;
$line-color: hsla(0, 0%, 92%, 1.0);
