//************************************************************************//
// Start here
//************************************************************************//

html,
body {
  height:100%;
  width: 100%;
}

body {
  @include box-sizing(border-box);
}

h1 {
  font-size: 32px;
  margin-bottom: 2em;
  text-align: center;
}

h1, h2, h3, h4, p, span {
  text-rendering: optimizeLegibility;
}

canvas {
  display: none;
}

//************************************************************************//
// Header
//************************************************************************//
header {
  position: relative;
  z-index: 1;
    text-align: center;

  div.header-image-wrapper {
    $size: 75px;
    background-color: $line-color;
    border-radius: $size;
    height: $size;
    margin: 0 auto;
    padding: 5px;
    width: $size;


    img {
      height: $size;
      width: $size;
      border-radius: $size;
    }
  }

  hgroup {
    display: none;
  }
}

//************************************************************************//
// Main Content
//************************************************************************//
section.container {
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  width: $width;

  article {
    @include clearfix;
    margin: 300px 0;
    position: relative;

    &::before {
      border: 15px solid transparent;
      border-left-color: $line-color;
      content: "";
      left: ($width / 2) + 2px;
      position: absolute;
      top: 44.5%;
      z-index: 1;
    }

    &:first-of-type {
      margin-top: 250px;
    }

    section {
      @include box-sizing(border-box);
      float: left;
      width: $width / 2;
    }

    div.img-border {
      $size: 296px;
      border: 1px solid hsla(0, 100%, 100%, 0.2);
      border-radius: 4px;
      box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1);
      height: $size;
      left: 1px;
      pointer-events: none;
      position: absolute;
      top: 1px;
      width: $size;
    }

    section.post-content {
      padding-right: $padding;

      div.image-wrapper {
        border-radius: 4px;
        height: 300px;
        overflow: hidden;
        width: 300px;

        img {
          height: 310px;
          margin-left: -5px;
          margin-top: -5px;
          width: 310px;
        }
      }
    }

    section.post-meta {
      @include box(horizontal, center, center);
      padding-left: $padding;
      height: 300px;

      div.meta-wrapper {
        @include box-flex(1);
      }

      h2 {
        font-size: 44px;
        font-weight: 100;
        margin-bottom: 5px;
        @include transition(color 1s);
        width: 400px;
      }

      time {
        display: block;
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 1px;
        padding-bottom: 3px; // center the flexbox
        text-transform: uppercase;

        &, a {
          color: $base-font-color-alt;
        }
      }


      span.metadata {
        font-size: 12px;
        font-weight: 200;
      }
    }

    // Right
    //************************************************************************//
    &:nth-of-type(even) {
      &::before {
        border-left-color: transparent;
        border-right-color: $line-color;
        left: 342px;
      }

      section.post-content {
        float: right;
        padding: 0 0 0 $padding;

        div.image-wrapper {
          float: right;
          margin-left: 50px;
        }
      }

      div.img-border {
        left: auto;
        right: 1px;
      }

      section.post-meta {
        @include box-sizing(border-box);
        padding-left: 0;
        padding-right: $padding;
        text-align: right;

        h2 {
          position: relative;
          left: -100px;
        }
      }
    }
  }
}

///************************************************************************//
// Season
//************************************************************************//
div.season {
  position: relative;
  text-align: center;
  z-index: 1;

  h2 {
    background: rgb(255, 255, 255);
    border-radius: 100px;
    color: $base-font-color-alt;
    display: inline-block;
    font-size: 26px;
    font-weight: 100;
    letter-spacing: 3px;
    padding: 30px 0;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;

    span.year {
      display: block;
      font-size: 18px;
      padding-top: 3px;
      letter-spacing: 0px;
    }
  }
}

//************************************************************************//
//  Footer
//************************************************************************//
footer {
  background: white;
  color: lighten($base-font-color-alt, 20%);
  font-size: 8px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 30px 0 35px;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  a {
    color: darken($base-font-color-alt, 10%);
    @include transition;

    &:hover {
      color: $base-link-color;
    }
  }
}


//************************************************************************//
// Line
//************************************************************************//
div.line {
  background-color: $line-color;
  border-radius: 4px;
  height: 100%;
  left: ($width / 2) - 2px;
  position: absolute;
  top: 0;
  width: 4px;
}


//************************************************************************//
// Fancybox
//************************************************************************//
div.fancybox-overlay {
  background-color: rgba(17, 17, 17, 0.95);
  @include box-shadow(inset 0 5px 30px 0 #000);
}
