section.about {
  h1.title {
    @extend %title-slide-in;
  }
  ol {
    list-style: none;
    @include clearfix;
    margin: 20vh 0 0;
    padding: 0;

    li {
      float: left;
      margin-right: 30px;

      a {
        font-weight: 700;
      }
    }
  }
}
