$purple: #7F63B5;
$purple-alt: #B080C1;
$turq: #1abc9c;
$red: #DF6C63;
$green: #5AC292;
$orange: #F89E6B;
$yellow: #F4C042;
$blue: #60A4EB;
$blue-alt: #88B3E8;
$blue-alt-2: lighten(#3884CC, 0%);

.about {
  $c: $purple;
  background: $c;
  &:before, &:after { background: $c; }
}
.domflags {
  $c: $blue-alt-2;
  background: $c;
  &:before, &:after { background: $c; }
}
.myfaves {
  $c: $turq;
  $c: #16a085;
  background: $c;
  &:before, &:after { background: $c; }
}
.thoughtbot {
  $c: $red;
  background: $c;
  &:before, &:after { background: $c; }
}
.white-label {
  $c: $blue;
  background: $c;
  &:before, &:after { background: $c; }
}
.prm {
  $c: $purple-alt;
  background: $c;
  &:before, &:after { background: $c; }
}
.fdn {
  $c: $green;
  background: $c;
  &:before, &:after { background: $c; }
}
.vpp {
  $c: $orange;
  background: $c;
  &:before, &:after { background: $c; }
}
.iora {
  $c: $blue-alt;
  background: $c;
  &:before, &:after { background: $c; }
}
