.browser {
  $browser-top: 20px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
  @include linear-gradient(#E8E8E8 0px, #B1B1B1 30px, #ccc 50%);
  margin: 10vh 5vw 5vh;
  position: relative;
  padding: $browser-top 0 0;

  // Faux-scroll effect
  &.animate {
    @include transition(all 0.4s $ease-out-quad);
  }

  &.multiple-images {
    img {
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      margin-top: $browser-top;
      $speed: 0.3s;
      @include transition(opacity $speed $ease-out-quad);
      @include transition-delay($speed);
      z-index: 1;

      &.current {
        @include transition-delay(0s);
        opacity: 1;
        z-index: 2;
      }
    }
  }

  img {
    border-top: 1px solid #999;
    width: 100%;
    display: block;
    @include border-bottom-radius(4px);
  }
}

.ipad {
  background: #000;
  // border-radius: 40px;
  border-radius: 3vw;
  display: block;
  margin: 10vh 5vw 5vh;
  padding: 3vw 6vw;
  position: relative;

  // inset Box-shadow hack for border-radius in vw
  &:after {
    border-radius: 3vw;
    box-shadow: 2px -2px 0 #fff;
    content: "";
    height: 100%;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 100%;
  }

  img {
    display: block;
    border-radius: 4px;
    width: 99%;
  }
}

@include media($mobile) {
  .browser, .ipad {
    margin-top: 8vh;
  }
}
