//************************************************************************//
// Assitional Sass Variables, Mixins, Directives
//************************************************************************//

$gw-column: 100px;       // Column Width
$gw-gutter: 40px;        // Gutter Width

$base-font-size: 14px;
$base-font-size-headline: ceil(golden-ratio($base-font-size, 2)) + 4px; // 29px

$title-font: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font: "museo-slab", Georgia, Palatino, "Palatino Linotype", Times, serif;

$primary: #ECECEC;
$link: #fe9979;
$hover: #ff8158;
$link-alt: #727272;
$hover-alt: #a5a5a5;


$base-background-color: #202020;
$base-border-color: #111;
