%force-3d {
  @include backface-visibility(hidden);
  @include transform(translateZ(0));
}

body {
  background: $body-bg;
  overflow-y: hidden;
  // height: 100vh;

  &, * {
    @include transform-style(preserve-3d);
  }
}

div#slider {
  @extend %force-3d !optional;
  overflow: hidden;
  position: relative;
  @include transition;
  width: 100%;
  z-index: 2;
  height: $base-height;

  &.show-nav {
    @include transform(translateY($drawer-height + $nav-height));
  }

  &.hide-nav {
    @include transform(translateY(0px));
  }

  &.zoom-out {
    @include transform(translateY(0px) scale(0.5));
    overflow: visible;
  }
}

div.slider-container {
  @extend %force-3d !optional;
  @include clearfix;
  overflow: hidden;
  @include transition(all 0.65s $ease-in-out-circ);
  width: 500vw;

  cursor: hand;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;

  @include media($ipad) {
    @include backface-visibility(hidden);
    @include transform(translateZ(0));
  }
  @include media($iphone5) {
    @include backface-visibility(hidden);
    @include transform(translateZ(0));
  }
  @include media($iphone4) {
    @include backface-visibility(hidden);
    @include transform(translateZ(0));
  }

  &.no-transition {
    @include transition(none);
  }

  &.drag-transition {
    @include transition(all 0.3s ease-out);
  }
}

section {
  background: #3D4652;
  float: left;
  height: $base-height;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: $nav-height;
  position: relative;
  width: 90vw;

  // Fix for weird malrendering lines
  // with forced 3d rendering
  &:before, &:after {
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    width: 4px;
    z-index: -1;
  }

  &:before { left: -2px; }
  &:after { right: -2px; }
  // End

  a:link, a:visited {
    border-bottom: 1px solid transparent;
    font-weight: 600;
    @include transition;
    white-space: nowrap;

    &:hover {
      border-bottom: 1px solid currentColor;
    }
  }

  .inner {
    padding: 10vh 40vw 0 10vw;

    @include media($tablet) {
      padding: 10vh 20vw 0 10vw;
    }

    @include media($mobile) {
      padding: 8vh 10vw 0 10vw;
    }
  }

  &.parent {
    // box-shadow: inset $spacer 0 0 $spacer-color;
    // box-shadow hack required for preserve-3d
    &:before {
      background: $spacer-color;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      content: "";
    }
  }

  p {
    line-height: 1.5em;
    margin-bottom: 1em;
    color: hsla(0, 0%, 100%, 0.7);
  }

  img {
    pointer-events: none;
  }
}

section:first-child,
section:last-child {
  width: 95vw;
}

section:last-child {
  padding-right: 5vw;
}

$nums: 0;
@for $i from 2 through 25 {
  $nums: join($nums, $i);
}

@each $num in $nums {
  div#slider .transition-#{$num} {
    $duration: 300 * $num;
    @include transition-duration(#{$duration}ms);
    @include transition-timing-function($ease-out-sine);
  }
}
