body {
  background: $body-bg;
  overflow-y: hidden;
  @include transform(translateZ(0));
}

div#slides {
  overflow: hidden;
  position: relative;
  @include transition;
  width: 100%;
  z-index: 2;

  &.show-nav {
    @include transform(translateY($drawer-height + $nav-height));
  }

  &.hide-nav {
    @include transform(translateY(0px));
  }
}

div.slides-container {
  @include clearfix;
  overflow: hidden;
  position: relative;
  @include transition(all 0.5s $ease-in-out-circ);
  width: 500vw;

  @include backface-visibility(hidden);
  @include transform(translateZ(0));
}

section {
  background: #3D4652;
  float: left;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  width: 90vw;
  padding-top: $nav-height;

  // Fix for weird malrendering lines
  &:before, &:after {
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    width: 4px;
    z-index: -1;
  }

  &:before { left: -2px; }
  &:after { right: -2px; }
  // End

  a:link, a:visited {
    border-bottom: 1px solid transparent;
    font-weight: 600;
    @include transition;
    white-space: nowrap;

    &:hover {
      border-bottom: 1px solid currentColor;
    }
  }

  .inner {
    padding: 10vh 40vw 10vh 10vw;
  }

  &.parent {
    box-shadow: inset $spacer 0 0 $spacer-color;
  }

  p {
    line-height: 1.5em;
    margin-bottom: 1em;
    color: hsla(0, 0%, 100%, 0.7);
  }

  img {
    left: 5vw;
    margin: 50px 0;
    position: relative;
    top: 0;
    width: 80vw;
  }
}

section:first-child,
section:last-child {
  width: 95vw;
}

section:last-child {
  padding-right: 5vw;
}
