nav.slider-nav {
  background: $nav-bg;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  right: 0;

  &.show {
    background: $nav-bg-hover;

    span {
      @include transform(rotateY(180deg));
    }
  }

  &.show, &.hide {
    span {
      @include transition(all 0.75s $ease-out-quad);

      $delay: 0; $inc: 0.12s;
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          @include transition-delay($delay);
          $delay: $delay + $inc;
        }
      }
    }
  }

  div.main-nav {
    height: $nav-height;

    > a {
      $opacity: 0.45;
      color: #fff;
      display: block;
      float: left;
      height: $nav-height;
      line-height: 0;
      opacity: $opacity;
      position: absolute;
      text-decoration: none;
      top: 0;
      @include transition;
      width: $nav-height;

      &:hover {
        opacity: $opacity + 0.2;
      }

      img {
        pointer-events: none;
        position: relative;
        top: 13px;
        height: 26px;
      }

      &.menu {
        left: 50%;
        margin-left: (-$nav-height / 2) + 2;
        opacity: $opacity - 0.1;
        padding-top: 17px;
        padding-left: 9px;

        &:hover {
          opacity: $opacity + 0.2;
        }

        span {
          background: #fff;
          border-radius: 1px;
          display: inline-block;
          float: left;
          height: 3px;
          margin-bottom: 4px;
          width: 32px;
        }

        @include media($mobile) {
          display: none;
        }
      }

      &.prev {
        left: 0;

        img {
          left: 20px;
        }
      }

      &.next {
        right: 0;

        img {
          left: 17px;
          @include transform(scaleX(-1));
        }
      }
    }
  }
}

// Drawer
//**********************************************************//
.drawer {
  @include clearfix;
  display: block;
  height: $drawer-height;
  margin: 0;
  padding: 0;
  position: absolute;
  top: $nav-height;
  @include transition;
  width: 100%;

  &.hide {
    opacity: 0;
  }
  &.show {
    opacity: 1;
  }

  li {
    @include calc(width, "100% / 8");
    @include clearfix;
    display: inline-block;
    float: left;
    font-size: em(18, $base);
    height: 100%;
    line-height: 1.5em;

    @include media($tablet) {
      font-size: em(22, $base);
    }

    @include media($mobile) {
      font-size: em(20, $base);
    }

    &.active a {
      &, &:hover {
        background: $nav-bg-hover;
      }
    }

    a {
      color: hsla(0, 0%, 100%, 0.7);
      display: block;
      font-family: $serif;
      font-weight: 200;
      height: 100%;
      padding: 20px 20% 20px 16%;
      text-decoration: none;
      @include transition;

      &:hover {
        background: $nav-bg-hover;
        color: #efefef;
      }
      span {
        color: hsla(0, 0%, 100%, 0.4);
        display: block;
        font-size: 0.6rem;
        font-weight: 400;
        line-height: 1.4em;
        pointer-events: none;
        text-rendering: optimizeLegibility;
        text-transform: uppercase;
      }
    }
  }
}

nav.dots {
  $size: 9px;
  left: 50%;
  margin-left: -($size + $size/2) + 1;
  position: absolute;
  top: -25px;

  span.dot {
    background: hsla(0, 0%, 100%, 0.2);
    border-radius: $size;
    cursor: pointer;
    display: block;
    float: left;
    height: $size;
    margin-right: 7px;
    @include transition(all 0.5);
    width: $size;

    &.current {
      background: hsla(0, 0%, 100%, 0.4);
    }

    &:last-child {
      margin: 0;
    }
  }
}
