nav.slides-nav {
  background: $nav-bg;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  right: 0;

  div.main-nav {
    height: $nav-height;

    > a {
      color: #fff;
      display: block;
      float: left;
      height: $nav-height;
      line-height: 0;
      opacity: 0.3;
      position: absolute;
      text-decoration: none;
      top: 0;
      @include transition;
      width: $nav-height;

      &:hover {
        opacity: 0.5;
      }

      img {
        pointer-events: none;
        position: relative;
        top: 13px;
      }

      &.menu {
        left: 50%;
        margin-left: -$nav-height / 2;

        @include media($mobile) {
          display: none;
        }

        img {
          top: 18px;
          left: 9px;
        }
      }

      &.prev {
        left: 0;

        img {
          left: 20px;
        }
      }

      &.next {
        right: 0;

        img {
          left: 17px;
          @include transform(scaleX(-1));
        }
      }
    }
  }
}

// Drawer
//**********************************************************//
.drawer {
  @include clearfix;
  display: block;
  height: $drawer-height;
  margin: 0;
  padding: 0;
  position: absolute;
  top: $nav-height;
  @include transition;
  width: 100%;

  li {
    @include calc(width, "100% / 7");
    @include clearfix;
    display: inline-block;
    float: left;
    font-size: em(18, $base);
    height: 100%;
    line-height: 1.5em;

    @include media($tablet) {
      font-size: em(22, $base);
    }

    @include media($mobile) {
      font-size: em(20, $base);
    }

    &.active a {
      &, &:hover {
        background: lighten($body-bg, 2%);
      }
    }

    a {
      color: hsla(0, 0%, 100%, 0.7);
      display: block;
      font-family: $serif;
      font-weight: 200;
      height: 100%;
      padding: 20px 30% 20px 20%;
      text-decoration: none;
      @include transition;

      &:hover {
        background: lighten($body-bg, 2%);
        color: #efefef;
      }
    }
  }
}

nav.dots {
  $size: 10px;
  left: 50%;
  margin-left: -($size + $size/2) + 2;
  position: absolute;
  top: -25px;

  span.dot {
    background: hsla(0, 0%, 100%, 0.2);
    border-radius: $size;
    display: block;
    float: left;
    height: $size;
    margin-right: $size/2 + 1;
    width: $size;
    @include transition(all 0.5);
    cursor: pointer;

    &.current {
      background: hsla(0, 0%, 100%, 0.4);
    }

    &:last-child {
      margin: 0;
    }
  }
}
