.about {
  margin-top: 80px;

  section {
    display: flex;
    flex-direction: row;
  }

  img {
    width: 353px;
    height: 417px;
    margin-right: 90px;
  }
  .content-inner {

  }
  p {
    margin-bottom: 1.5em;
  }
}
