.about {
  margin-top: $nav-content-gap;

  section {
    display: flex;
    flex-direction: row;
    // align-content: stretch;


    @include phone {
      flex-direction: column;
    }
  }

  .profile-photo {
    background-image: url('/images/profile-photo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    $width: 356px;
    $height: 474px;
    min-width: $width;
    margin-right: 90px;

    @include tablet {
      background-size: cover;
      background-position: center;
      margin-right: 45px;
    }
    @include phone {
      min-width: auto;
      width: 100%;
      height: 250px;
      margin: 0;
      background-size: cover;
      margin-bottom: 24px;
    }
  }
  img {
    $width: 356px;
    $height: 474px;
    @include size($width, $height);
    margin-right: 90px;

    @include tablet {
      @include size($width/1.25, $height/1.25);
      margin-right: 45px;
    }
  }
  .content-inner {
    padding-top: 15px;
  }
  p {
    margin-bottom: 1.5em;
  }
  // .dropbox:hover {
  //   color: #0061ff;
  // }
  // .thoughtbot:hover {
  //   color: #e03131;
  // }
  // .pilot:hover {
  //   // color: #5f2ee5;
  // }
}
