    // %animation-app-slide-up {
    //   animation: hue 10s infinite linear;
    //   animation-delay: 0.5s;
    // }

    // @keyframes hue {
    //   from {
    //     -webkit-filter: hue-rotate(0deg);
    //   }
    //   to {
    //     -webkit-filter: hue-rotate(-360deg);
    //   }
    // }

    @keyframes hue {
      0% {
        background-position: 0 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0 50%;
      }
    }
