.case-study {
  .project {
    margin: 0 0 40px 0;
  }

  .desktop-back {
    position: absolute;
    left: -64px;
    top: 4px;
    display: flex;
    align-items: center;

    @include tablet {
      left: -54px;
      transform: scale(0.65);
    }

    @include phone {
      // display: none;
      position: static;
      margin-bottom: 30px;

      svg {
        height: 32px;
        width: 32px;
      }
    }
  }
  .back-text {
    margin-left: 10px;
    font-weight: normal;
    display: none;

    @include phone {
      display: block;
    }
  }

  .inner-wrapper {
    max-width: 862px;
    margin: 0 auto 40px;

    @include tablet {
      max-width: 80vw;
    }
  }

  h2 {
    margin-bottom: 0.5em;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .content-group {
    margin: 100px 0;
  }

  .twoUp {
    padding: $figure-padding 0;
    height: auto;
    flex-direction: row;
    align-items: start;
  }
}
