.case-study {
  .project {
    margin: 0 0 80px 0;
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
  }
  .inner-wrapper {
    max-width: 862px;
    margin: 0 auto 40px;
  }

  h2 {
    margin-bottom: 0.5em;
  }

}
