.case-study {
  .project {
    margin: 0 0 40px 0;
  }

  .desktop-back {
    position: absolute;
    left: -64px;
    top: 4px;
    display: flex;
    align-items: center;

    @include tablet {
      left: -60px;
      transform: scale(0.8);
    }

    @include phone {
      // display: none;
      position: static;
      margin-bottom: 30px;

      svg {
        height: 32px;
        width: 32px;
      }
    }
  }
  .back-text {
    margin-left: 10px;
    font-weight: normal;
    display: none;

    @include phone {
      display: block;
    }
  }

  .inner-wrapper {
    max-width: 862px;
    margin: 0 auto 40px;

    @include tablet {
      max-width: 80vw;
    }
  }

  h2 {
    margin-bottom: 0.5em;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .content-group {
    margin: 100px 0;

    @include tablet {
      margin: 80px 0;
    }

    @include phone {
      margin: 60px 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .diptych {
    padding: $figure-padding 0;
    height: auto;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;

    @include tablet {
      flex-direction: column-reverse;
      align-items: center;

      img:last-child {
        margin-bottom: 20px;
      }
    }

    @include phone {
      flex-direction: column-reverse;
      align-items: center;

      img:last-child {
        margin-bottom: 20px;
      }
    }

    img {
      margin: 0;
    }
  }
}

video {
  border-radius: 6px;
  width: 100%;
  max-width: 100%;
}
figcaption {
  opacity: 0.6;
  font-size: $text-body-small;
  text-align: center;
  margin-top: 15px;
}
.outlook .content-image {
  padding: ($figure-padding + 20) $figure-padding;
}
