body, html {
  background-color: $bg-primary;
  margin: 0;
  overflow-x: hidden;
  color: $text-primary;
  font-family: $base-font-family;
  font-size: $base-font-size;
  @include font-smoothing;

  @include phone {
    font-size: $base-font-size-mobile;
  }
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.layout-wrapper {
  max-width: 1136px + (40*2);
  margin: 0 auto;
  padding: 80px 40px;

  @include tablet {
    padding: 40px 20px;
  }
  @include phone {
    padding: 40px 20px;
  }
}
.inner-wrapper {
  padding: 0 48px;

  @include tablet {
    padding: 0 24px;
  }
  @include phone {
    padding: 0 12px;
  }
}
.chivo {
  font-family: $chivo;
}
.poppins {
  font-family: $poppins;
}

.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include phone {
    flex-direction: column;
  }
  // .sf {
  //   // background: linear-gradient(92deg, #f35626, #feab3a);
  //   background: linear-gradient(-60deg, #FC575E, #F7B42C, #F53844);
  //   background-size: 200%;
  //   // -webkit-background-clip: text;
  //   // -webkit-text-fill-color: transparent;
  //   animation: hue 20s infinite ease-in-out;
  //   // animation-delay: 0.5s;
  // }

  h1 {
    font-weight: normal;
    font-size: $text-body-large;
    max-width: 540px;

    b {
      font-weight: 600;
    }
  }

  nav {
    a {
      font-weight: normal;
      color: $text-primary;
      font-size: $text-body-medium;

      @include phone {
        font-size: $text-body-large;
      }
    }

    .active {
      border-bottom: 2px solid $action-color;
      padding-bottom: 4px;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    margin-top: 7px;

    li {
      margin-left: 50px;

      @include phone {
        margin-left: 0;
        margin-right: 50px;
      }
    }
  }
}
