body, html {
  background-color: $bg-primary;
  margin: 0;
  overflow-x: hidden;
  color: $text-primary;
  font-family: $base-font-family;
  font-size: $base-font-size;
  @include font-smoothing;

  @include phone {
    font-size: $base-font-size-mobile;
  }
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.layout-wrapper {
  max-width: 1136px + (40*2);
  margin: 0 auto;
  padding: 80px 40px;

  @include tablet {
    padding: 40px 20px;
  }
  @include phone {
    padding: 40px 20px;
  }
}
.inner-wrapper {
  padding: 0 48px;

  @include tablet {
    padding: 0 24px;
  }
  @include phone {
    padding: 0 12px;
  }
}
.base-font {
  font-family: $karla;
}
.headline-font {
  font-family: $poppins;
}

.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include phone {
    flex-direction: column;
  }

  h1 {
    font-weight: normal;
    font-size: $text-body-large;
    max-width: 540px;

    b {
      font-weight: 600;
    }
  }

  nav {
    a {
      font-weight: normal;
      color: $text-primary;
      font-size: $text-body-medium;
      padding: 0 2px 6px;
      position: relative;
      border-bottom: none;

      &::after {
        content: "";
        position: absolute;
        height: 2.5px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($action-color, 0.0);
        border-radius: 4px;
        transition: 0.3s ease-out all;
      }

      @include phone {
        font-size: $text-body-large;
      }
    }

    .active {
      &::after {
        background-color: rgba($action-color, 1.0);
      }
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    margin-top: 7px;

    li {
      margin-left: 40px;

      @include phone {
        margin-left: 0;
        margin-right: 50px;
      }
    }
  }
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
