@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-primary: #252525;
  --text-primary: #F2F2F2;

  --font-body: 'Chivo', sans-serif;
  --font-headline: 'Poppins', sans-serif;

  --text-header-large: 36px;
  --text-header-medium: 28px;

  --text-body-large: 32px;
  --text-body-medium: 24px; //base
  --text-body-small: 18px;
}
