.project {
  margin-top: $nav-content-gap;
  margin-bottom: 130px;

  @include phone {
    margin-bottom: 100px;
  }

  a {
    color: $text-primary;
  }

  .project-header.inner-wrapper {
    margin-bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    @include phone {
      margin-bottom: 25px;
    }
    & + .inner-wrapper {
      margin-top: 20px;
    }
    & + figure {
      margin-top: 40px;
    }

    h1 {
      font-weight: 600;
      margin-bottom: 0;
    }

    h2 {
      font-size: $text-body-small;
      margin-bottom: 0;
      font-weight: normal;
      opacity: 0.7;
    }

  }
}

.flex {
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  // background-color: $dark-gray;
  background-repeat: no-repeat;
}

.hero-image, .content-image {
  max-width: 1136px;
  height: 560px;

  img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }
}
.hero-image {
  @include phone {
    max-height: 72vw;
  }
}

.green {
  background-image: linear-gradient(75deg, rgba(#005744,1) 11.2%, rgba(#007158,1) 91.1%);
  background-color: #005744;
}
.greenRich {
  background: linear-gradient(75deg, #003C32 0%, #005C4E 100%);
  background-color: #003C32;
}
.purple {
  // background: var(--Purple-Gradient, linear-gradient(75deg, #4D12D5 0%, #672EED 100%));
  background: linear-gradient(75deg, #3C2D89 0%, #5D39BE 100%);
  background-color: #3C2D89;
}
.purple-dark {
  background: var(--Dark-Purple, linear-gradient(75deg, #251867 0%, #3C2D89 100%));
  background-color: #251867;
}
.purpleRich {
  background: linear-gradient(75deg, #37075E 0%, #54118A 100%);
  background-color: #37075E;
}
.purpleRichAlt {
  background: linear-gradient(285deg, #37075E 0%, #54118A 100%);
  background-color: #37075E;
}
.blue {
  background: linear-gradient(75deg, #0066DD 0%, #168EFF 100%);
  background-color: #168EFF;
}
.navy {
  background: linear-gradient(75deg, #0a2bb2 0%, #1437C6 100%);
  background-color: #1437C6;
}
.maroon {
  background: linear-gradient(75deg, #5A132C 0%, #6F1736 100%);
  background-color: #5A132C;
}
.pinkish {
  background: linear-gradient(75deg, #57002A 0%, #77004E 100%);
  background-color: #57002A;
}
.orange {
  background: linear-gradient(75deg, #743F01 0%, #8D5500 100%);
  background-color: #743F01;
}
.yellow {
  background: linear-gradient(75deg, #EFBB1C 0%, #F2C94C 100%), #F2C94C;
  background-color: #F2C94C;
}
.tobacco {
  background: linear-gradient(75deg, #B0770C 0%, #D6A100 100%);
  background-color: #D6A100;
}

.content-image {
  height: auto;
  margin-bottom: $figure-padding;

  &.pad-tb {
    padding-top: $figure-padding;
    padding-bottom: $figure-padding;
  }
  &.pad-lr {
    padding-left: $figure-padding;
    padding-right: $figure-padding;
  }
}

.recents {
  .hero-image {
    // padding-top: 45px;
    // padding-left: 40px;
    // padding-right: 40px;
    justify-content: flex-start;

    @include phone {
      padding-top: 35px;
    }
  }
}
.center {
  text-align: center;
}
.pilot-home {
  .hero-image {
    justify-content: start;
  }
}
.pilot-insights {
  .hero-image {
    justify-content: center;
  }
}
.pilot-tasks {
  .hero-image {
    justify-content: end;
  }
}
.chooser-saver {
  .hero-image {
    justify-content: start;
  }
}
.facebook {
  .hero-image {
    justify-content: center;
  }
}
