.project {
  margin-top: 80px;
  margin-bottom: 130px;

  @include phone {
    margin-bottom: 100px;
  }

  a {
    color: $text-primary;
  }

  .project-header {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    @include phone {
      margin-bottom: 25px;
    }

    h1 {
      font-weight: 600;
      margin-bottom: 0;
    }
    h2 {
      font-size: $text-body-small;
      margin-bottom: 0;
      font-weight: normal;
      opacity: 0.7;
    }

  }
}

.hero-image {
  max-width: 1136px;
  background: #F2C94C;
  height: 560px;
  border-radius: 6px;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  @include phone {
    max-height: 72vw;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }
}

.gmail {
  .hero-image {
    img {

    }
  }
}
.recents {
  .hero-image {
    background-image: url('../images/recents/hero.jpeg');
    // background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: cover;
  }
}

.chooser-saver {
  .hero-image {
    background: #A2D39B;
    justify-content: start;

    img {
    }
  }
}
.facebook {
  .hero-image {
    background: #1777F0;
    justify-content: center;

    img {
    }
  }
}
