.project {
  margin-top: $nav-content-gap;
  margin-bottom: 130px;

  @include phone {
    margin-bottom: 100px;
  }

  a {
    color: $text-primary;
  }

  .project-header {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    @include phone {
      margin-bottom: 25px;
    }

    h1 {
      font-weight: 600;
      margin-bottom: 0;
    }

    h2 {
      font-size: $text-body-small;
      margin-bottom: 0;
      font-weight: normal;
      opacity: 0.7;
    }

  }
}

.hero-image {
  max-width: 1136px;
  background: #F2C94C;
  height: 560px;
  border-radius: 6px;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  @include phone {
    max-height: 72vw;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }
}

.gmail {
  .hero-image {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(#efbb1c,1) 0.3%, rgba(#F2C94C,1) 90.5% );
    img {

    }
  }
}
.recents {
  .hero-image {
    background-image: url('../images/recents/hero.jpeg');
    // background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: cover;
  }
}

.chooser-saver {
  .hero-image {
    background-image: linear-gradient( 109.6deg,  rgba(#005744,1) 11.2%, rgba(#007158,1) 91.1% );
    background-color: #005744;
    justify-content: start;

    img {
    }
  }
}
.facebook {
  .hero-image {
    background: linear-gradient(90deg, #4481EB 0%, #04BEFE 100%);
    background-color: #4481EB;
    justify-content: center;

    img {
    }
  }
}
