<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Philip LaPier — Digital Product Designer</title>
    <meta name="description" content="Philip LaPier is a digital product designer in Boston, MA.">
    <meta name="keywords" content="phil lapier, philip lapier, web design, web development, product design, interface design, ruby, rails, boston, bourbon, sass, scss" >
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="stylesheets/application.css">
    <script type="text/javascript" src="//use.typekit.net/sfm3cqo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <nav class="slider-nav">
      <div class="main-nav">
        <a href="#" onclick="return false;" data-id="prev" class="prev arrow">
          <img src="images/arrow.svg" alt="Previous">
        </a>
        <a href="#" onclick="return false;" class="menu">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <a href="#" onclick="return false;" data-id="next" class="next arrow">
          <img src="images/arrow.svg" alt="Next">
        </a>
      </div>
    </nav>
    <ol class="drawer hide">
      <li class="active">
        <a href="#about">About Me</a>
      </li>
      <li>
        <a href="#myfaves">myfaves.fm <span>Web / 2013</span></a>
      </li>
      <li>
        <a href="#thoughtbot">thoughtbot <span>Web / 2013</span></a>
      </li>
      <li>
        <a href="#groupize-wl">Groupize wl<span>Web / 2013</span></a>
      </li>
      <li>
        <a href="#groupize-prm">Groupize prm<span>Web / 2013</span></a>
      </li>
      <li>
        <a href="#fdn">Financial DN<span>Web / 2012</span></a>
      </li>
      <li>
        <a href="#vpp">Velocity<span>iPad / 2012</span></a>
      </li>
      <li>
        <a href="#iora">Iora Health<span>iPad / 2011</span></a>
      </li>
    </ol>

    {{ content }}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/history.js/1.8/native.history.min.js"></script>
    <script src="js/application.js"></script>
    <script src="js/jquery.mobile-events.min.js" defer="defer"></script>
  </body>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5098241-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("22cbbc45ba5c03b378827087dc53ad43");</script>
</html>
