body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $text-header-medium;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: $text-header-large;
  font-weight: 600;
}

h2 {
  font-size: $text-header-medium;
  font-weight: 600;

  b {
    font-weight: 600;
  }
}

h3 {
}

h4 {
}

h5 {
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $text-primary;
  font-weight: bold;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: $action-color;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
