// Typography
$chivo: 'Chivo', sans-serif;
$poppins: 'Poppins', sans-serif;

$bg-primary: #252525;
$text-primary: #F2F2F2;

$text-header-large: 36px;
$text-header-medium: 28px;

$text-body-large: 32px;
$text-body-medium: 22px; //base
$text-body-small: 18px;


$base-font-family:  $chivo;
$heading-font-family: $chivo;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.4;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1C8BF3;
$dark-gray: #4A4A4A;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: #000;
$action-color: #F2C94C; //yellow

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
