// Typography
$chivo: 'Chivo', sans-serif;
$poppins: 'Poppins', sans-serif;

$bg-primary: #252525;
$text-primary: #F2F2F2;

$text-header-large: 1.63rem; //36
$text-header-medium: 1.27rem; //28

$text-body-large: 1.45rem; //32
$text-body-medium: 1rem; //base 22
$text-body-small: 0.82rem; // 18

$base-font-family:  $chivo;
$heading-font-family: $poppins;

// Font Sizes
$base-font-size: 22px;
$base-font-size-mobile: 18px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.4;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$nav-content-gap: 50px;
$figure-padding: 40px;

// Colors
$blue: #1C8BF3;
$dark-gray: #4A4A4A;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: #000;
$action-color: #F2C94C; //yellow
// $action-color: #8E66FF; //Purple

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
